@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes indeterminate {
  0% {
    left: -35%;
    width: 35%;
  }
  50% {
    left: 40%;
    width: 45%;
  }
  100% {
    left: 100%;
    width: 35%;
  }
}

.animate-indeterminate {
  position: absolute;
  top: 0;
  bottom: 0;
  animation: indeterminate 1.6s ease-in-out infinite;
}
